#! /bin/sh
#  /etc/init.d/shadowsocks

case "$1" in
  start)
    echo "Starting Shadowsocks"
    ssserver -c {{ shadowsocks_location }}/config.json -d start
    ;;
  stop)
    echo "Stopping Shadowsocks"
    ssserver -c {{ shadowsocks_location }}/config.json -d stop
    ;;
  restart)
    echo "Restarting Shadowsocks"
    ssserver -c {{ shadowsocks_location }}/config.json -d stop
    sleep 5
    ssserver -c {{ shadowsocks_location }}/config.json -d start
    ;;
  *)
    echo "Usage: /etc/init.d/shadowsocks {start|stop|restart}"
    exit 1
    ;;
esac

exit 0
